.navbar {
  background-color: rgb(20, 20, 140);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.48), 0 4px 8px rgba(0, 0, 0, 0.24);
}

.navbar .navbar-toggler {
  padding: 0;
  border: none;
  outline: none;
}

.menu {
  color: rgb(255, 255, 255);
  font-size: 40px;
}

.navbar-brand {
  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: 700;
}

.navbar-nav {
  margin-left: auto;
}

.navbar-nav > a {
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 500;
}

.jumbotron {
  background-image: url("img/HomeGif.gif");
  background-size: cover;
  margin: 0;
  overflow-x: hidden;
  overflow-y: hidden;
}

.html5 {
  color: rgb(240, 101, 41);
  position: relative;
  animation: html5 25s infinite;
}

@keyframes html5 {
  0% {
    left: 0px;
  }
  16.667% {
    left: 222px;
  }
  33.333% {
    left: 166px;
  }
  50% {
    left: 278px;
  }
  66.667% {
    left: 55px;
  }
  83.333% {
    left: 111px;
  }
  100% {
    left: 0px;
  }
}

.css3 {
  color: rgb(41, 101, 241);
  position: relative;
  animation: css3 25s infinite;
}

@keyframes css3 {
  0% {
    left: 0px;
  }
  16.667% {
    left: 55px;
  }
  33.333% {
    left: -55px;
  }
  50% {
    left: 166px;
  }
  66.667% {
    left: 111px;
  }
  83.333% {
    left: 222px;
  }
  100% {
    left: 0px;
  }
}

.js {
  color: rgb(240, 219, 79);
  position: relative;
  animation: js 25s infinite;
}

@keyframes js {
  0% {
    left: 0px;
  }
  16.667% {
    left: -111px;
  }
  33.333% {
    left: 111px;
  }
  50% {
    left: 55px;
  }
  66.667% {
    left: 166px;
  }
  83.333% {
    left: -55px;
  }
  100% {
    left: 0px;
  }
}

.react {
  color: rgb(97, 219, 251);
  position: relative;
  animation: react 25s infinite;
}

@keyframes react {
  0% {
    left: 0px;
  }
  16.667% {
    left: 111px;
  }
  33.333% {
    left: -111px;
  }
  50% {
    left: -55px;
  }
  66.667% {
    left: -166px;
  }
  83.333% {
    left: 55px;
  }
  100% {
    left: 0px;
  }
}

.node {
  color: rgb(60, 135, 58);
  position: relative;
  animation: node 25s infinite;
}

@keyframes node {
  0% {
    left: 0px;
  }
  16.667% {
    left: -55px;
  }
  33.333% {
    left: 55px;
  }
  50% {
    left: -166px;
  }
  66.667% {
    left: -111px;
  }
  83.333% {
    left: -222px;
  }
  100% {
    left: 0px;
  }
}

.npm {
  color: rgb(204, 53, 52);
  position: relative;
  animation: npm 25s infinite;
}

@keyframes npm {
  0% {
    left: 0px;
  }
  16.667% {
    left: -222px;
  }
  33.333% {
    left: -166px;
  }
  50% {
    left: -278px;
  }
  66.667% {
    left: -55px;
  }
  83.333% {
    left: -111px;
  }
  100% {
    left: 0px;
  }
}

.display-5 {
  margin-bottom: 10px;
  font-weight: 700;
}

.about {
  background-color: rgb(210, 240, 255);
  overflow-x: hidden;
  overflow-y: hidden;
}

.portfolio {
  background-color: rgb(160, 225, 255);
  overflow-x: hidden;
  overflow-y: hidden;
}

.card {
  padding: 4px;
  background-color: rgb(240, 240, 240);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.48), 0 4px 8px rgba(0, 0, 0, 0.24);
}

.contact {
  background-color: rgb(210, 240, 255);
  overflow-x: hidden;
  overflow-y: hidden;
}

.gmail {
  color: rgb(66, 133, 244);
}

.gmail:hover {
  transform: scale(1.04);
  color: rgb(36, 103, 214);
}

.whatsapp {
  color: rgb(74, 201, 89);
}

.whatsapp:hover {
  transform: scale(1.04);
  color: rgb(44, 181, 59);
}

.linkedin {
  color: rgb(0, 97, 146);
}

.linkedin:hover {
  transform: scale(1.04);
  color: rgb(0, 67, 116);
}

.github {
  color: rgb(31, 31, 31);
}

.github:hover {
  transform: scale(1.04);
  color: rgb(1, 1, 1);
}

.youtube {
  color: rgb(255, 0, 0);
}

.youtube:hover {
  transform: scale(1.04);
  color: rgb(225, 0, 0);
}

.footer {
  height: 62px;
  background-color: rgb(20, 20, 140);
  font-size: 18px;
  font-weight: 500;
  color: rgb(255, 255, 255);
  /* box-shadow: 0 -10px 20px rgba(0, 0, 0, 0.48), 0 -4px 8px rgba(0, 0, 0, 0.24); */
}

html {
  scroll-behavior: smooth;
}

section {
  min-height: 450px;
}

ion-icon {
  font-size: 50px;
}

#nav-link {
  width: max-content;
  color: rgb(255, 255, 255);
}

#nav-link:hover {
  color: rgb(0, 180, 255);
}

#profile {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.48), 0 4px 8px rgba(0, 0, 0, 0.24);
  margin-bottom: 10px;
}

#profileText {
  color: rgb(255, 255, 255);
  text-shadow: 0 10px 20px rgba(0, 0, 0, 0.48), 0 4px 8px rgba(0, 0, 0, 0.24);
}

#sectionTitle > h2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

#contactColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#contactText {
  display: flex;
  align-items: center;
  width: max-content;
  font-weight: 600;
  text-decoration: none;
}

#footerText {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

#footerText:hover {
  color: rgb(0, 180, 255);
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 70px;
  right: 10px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: rgb(20, 20, 140);
  color: rgb(255, 255, 255);
  cursor: pointer;
  height: 60px;
  width: 60px;
  border-radius: 100px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.48), 0 4px 8px rgba(0, 0, 0, 0.24);
}

#myBtn:hover {
  background-color: rgb(0, 180, 255);
}
