html {
  scroll-behavior: smooth;
}

.navbar {
  background-color: rgb(20, 20, 140);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.48), 0 4px 8px rgba(0, 0, 0, 0.24);
}

.navbar .navbar-toggler {
  padding: 0;
  border: none;
  box-shadow: none;
}

.menu {
  color: rgb(255, 255, 255);
  font-size: 40px;
}

.navbar-brand {
  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
}

.navbar-nav {
  margin-left: auto;
}

#nav-link {
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  width: max-content;
  color: rgb(255, 255, 255);
}

#nav-link:hover {
  color: rgb(0, 180, 255);
}

.home {
  overflow-x: hidden;
  overflow-y: hidden;
  background: linear-gradient(
    45deg,
    rgb(60, 80, 255),
    rgb(135, 70, 255),
    rgb(50, 200, 255),
    rgb(30, 160, 255)
  );
  background-size: 400% 400%;
  animation: home-gradient 8s ease infinite;
}

@keyframes home-gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.jumbotron {
  padding: 60px 0;
}

.display {
  margin-bottom: 5px;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
}

#profile {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.48), 0 4px 8px rgba(0, 0, 0, 0.24);
  margin-bottom: 10px;
}

#first-text {
  font-size: 38px;
  color: rgb(255, 255, 255);
  text-shadow: 0 10px 20px rgba(0, 0, 0, 0.48), 0 4px 8px rgba(0, 0, 0, 0.24);
}

#second-text {
  font-size: 24px;
  color: rgb(255, 255, 255);
  text-shadow: 0 10px 20px rgba(0, 0, 0, 0.48), 0 4px 8px rgba(0, 0, 0, 0.24);
}

.html5 {
  font-size: 50px;
  color: rgb(240, 101, 41);
  position: relative;
  animation: html5 25s infinite;
}

@keyframes html5 {
  0% {
    left: 0px;
  }
  16.667% {
    left: 222px;
  }
  33.333% {
    left: 166px;
  }
  50% {
    left: 278px;
  }
  66.667% {
    left: 55px;
  }
  83.333% {
    left: 111px;
  }
  100% {
    left: 0px;
  }
}

.css3 {
  font-size: 50px;
  color: rgb(41, 101, 241);
  position: relative;
  animation: css3 25s infinite;
}

@keyframes css3 {
  0% {
    left: 0px;
  }
  16.667% {
    left: 55px;
  }
  33.333% {
    left: -55px;
  }
  50% {
    left: 166px;
  }
  66.667% {
    left: 111px;
  }
  83.333% {
    left: 222px;
  }
  100% {
    left: 0px;
  }
}

.js {
  font-size: 50px;
  color: rgb(240, 219, 79);
  position: relative;
  animation: js 25s infinite;
}

@keyframes js {
  0% {
    left: 0px;
  }
  16.667% {
    left: -111px;
  }
  33.333% {
    left: 111px;
  }
  50% {
    left: 55px;
  }
  66.667% {
    left: 166px;
  }
  83.333% {
    left: -55px;
  }
  100% {
    left: 0px;
  }
}

.react {
  font-size: 50px;
  color: rgb(97, 219, 251);
  position: relative;
  animation: react 25s infinite;
}

@keyframes react {
  0% {
    left: 0px;
  }
  16.667% {
    left: 111px;
  }
  33.333% {
    left: -111px;
  }
  50% {
    left: -55px;
  }
  66.667% {
    left: -166px;
  }
  83.333% {
    left: 55px;
  }
  100% {
    left: 0px;
  }
}

.node {
  font-size: 50px;
  color: rgb(60, 135, 58);
  position: relative;
  animation: node 25s infinite;
}

@keyframes node {
  0% {
    left: 0px;
  }
  16.667% {
    left: -55px;
  }
  33.333% {
    left: 55px;
  }
  50% {
    left: -166px;
  }
  66.667% {
    left: -111px;
  }
  83.333% {
    left: -222px;
  }
  100% {
    left: 0px;
  }
}

.npm {
  font-size: 50px;
  color: rgb(204, 53, 52);
  position: relative;
  animation: npm 25s infinite;
}

@keyframes npm {
  0% {
    left: 0px;
  }
  16.667% {
    left: -222px;
  }
  33.333% {
    left: -166px;
  }
  50% {
    left: -278px;
  }
  66.667% {
    left: -55px;
  }
  83.333% {
    left: -111px;
  }
  100% {
    left: 0px;
  }
}

#section-title > h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
}

.space {
  padding: 80px 15px;
}

.about {
  min-height: 450px;
  background-color: rgb(210, 240, 255);
  overflow-x: hidden;
  overflow-y: hidden;
}

.about::after {
  content: "";
  width: 100%;
  height: 450px;
  position: absolute;
  background: inherit;
  z-index: -1;
}

#about::after {
  transform-origin: left bottom;
  transform: skewY(-4deg);
  -webkit-transform: skewY(-4deg);
  -moz-transform: skewY(-4deg);
  -o-transform: skewY(-4deg);
}

#about-text {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
}

.portfolio {
  min-height: 450px;
  transform: skewY(-4deg);
  -webkit-transform: skewY(-4deg);
  -moz-transform: skewY(-4deg);
  -o-transform: skewY(-4deg);
  background-color: rgb(160, 225, 255);
  overflow-x: hidden;
  overflow-y: hidden;
}

.gradient {
  transform: skewY(4deg);
  -webkit-transform: skewY(4deg);
  -moz-transform: skewY(4deg);
  -o-transform: skewY(4deg);
}

.card {
  padding: 4px;
  background-color: rgb(240, 240, 240);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.48), 0 4px 8px rgba(0, 0, 0, 0.24);
  font-size: 16px;
  font-family: "Poppins", sans-serif;
}

.certification {
  min-height: 450px;
  transform: skewY(-4deg);
  -webkit-transform: skewY(-4deg);
  -moz-transform: skewY(-4deg);
  -o-transform: skewY(-4deg);
  background-color: rgb(210, 240, 255);
  overflow-x: hidden;
  overflow-y: hidden;
}

.line {
  border: 0.4px solid rgb(20, 20, 140);
  margin: 40px auto 40px auto;
}

#cert-definition {
  display: flex;
  align-items: center;
}

#cert-picture {
  background-color: rgb(240, 240, 240);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.48), 0 4px 8px rgba(0, 0, 0, 0.24);
}

#cert-title {
  font-size: 28px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
}

#cert-text {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
}

.contact {
  min-height: 450px;
  background-color: rgb(160, 225, 255);
  overflow-x: hidden;
  overflow-y: hidden;
}

.contact::before {
  content: "";
  width: 100%;
  height: 450px;
  position: absolute;
  background: inherit;
  z-index: -1;
}

#contact::before {
  transform-origin: left top;
  transform: skewY(-4deg);
  -webkit-transform: skewY(-4deg);
  -moz-transform: skewY(-4deg);
  -o-transform: skewY(-4deg);
}

#contact-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#contact-text {
  display: flex;
  align-items: center;
  width: max-content;
  font-size: 20px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
}

.gmail {
  color: rgb(66, 133, 244);
}

.gmail:hover {
  transform: scale(1.04);
  color: rgb(36, 103, 214);
}

.whatsapp {
  color: rgb(74, 201, 89);
}

.whatsapp:hover {
  transform: scale(1.04);
  color: rgb(44, 181, 59);
}

.linkedin {
  color: rgb(0, 97, 146);
}

.linkedin:hover {
  transform: scale(1.04);
  color: rgb(0, 67, 116);
}

.github {
  color: rgb(31, 31, 31);
}

.github:hover {
  transform: scale(1.04);
  color: rgb(1, 1, 1);
}

.youtube {
  color: rgb(255, 0, 0);
}

.youtube:hover {
  transform: scale(1.04);
  color: rgb(225, 0, 0);
}

.footer {
  height: 62px;
  background-color: rgb(20, 20, 140);
  font-size: 18px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  color: rgb(255, 255, 255);
}

#footer-text {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

#footer-text:hover {
  color: rgb(0, 180, 255);
}

#my-btn {
  display: none;
  position: fixed;
  bottom: 70px;
  right: 10px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: rgb(20, 20, 140);
  color: rgb(255, 255, 255);
  cursor: pointer;
  height: 60px;
  width: 60px;
  border-radius: 100px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.48), 0 4px 8px rgba(0, 0, 0, 0.24);
}

#my-btn:hover {
  background-color: rgb(0, 180, 255);
}
